.faculty-navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 25px 0px;
}

.faculty-navbar h2{
    font-size: 20px;
    font-weight: 700;
}
@media(max-width:768px){

.faculty-navbar{
    justify-content:center;
    padding:15px;
}

.faculty-navbar h2{
    font-size:18px;
}

}